
\.idea/\.idea\.NadekoBot/\.idea/contentModel\.xml

\.idea/\.idea\.NadekoBot/\.idea/encodings\.xml

\.idea/\.idea\.NadekoBot/\.idea/indexLayout\.xml

\.idea/\.idea\.NadekoBot/\.idea/misc\.xml

\.idea/\.idea\.NadekoBot/\.idea/vcs\.xml

\.idea/\.idea\.NadekoBot/\.idea/workspace\.xml
